body.lstr-qswitcher-noscroll
{
  overflow: hidden;
}


body.lstr-qswitcher-noscroll .lstr-qswitcher-overlay,
body.lstr-qswitcher-noscroll .lstr-qswitcher-container {
  z-index: 9999;
  display: block;
}

.lstr-qswitcher-overlay
{
  display: none;
  background-color: rgba(204, 204, 204, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lstr-qswitcher-container
{
  display: none;
  position: fixed;
  top: 20%;
  width: 500px;
  margin: 0 0 0 -250px;
  left: 50%;
}

.lstr-qswitcher-container *
{
  box-sizing: border-box;
}

.lstr-qswitcher-popup
{
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: #ffffff 1px solid;
}

input.lstr-qswitcher-search
{
  width: 480px;
  border-color: #666666;
  padding: 7px;
  margin: 5px 10px 10px 10px;
  font-size: 2.5em;
  line-height: 1.2em;
  height: auto;
}

.lstr-qswitcher-help
{
  width: 500px;
  margin: 10px 0 0 0;
}

.lstr-qswitcher-help ul:after
{
  content: "";
  display: table;
  clear: both;
}

.lstr-qswitcher-help ul
{
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: .9em;
  float: right;
}

.lstr-qswitcher-help li
{
  margin: 0 10px 5px 5px;
  padding: 0;
  float: left;
}

.lstr-qswitcher-help em
{
  font-style: normal;
  font-weight: bold;
  margin: 0 3px 0 0;
}


.lstr-qswitcher-breadcrumb ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .9em;
  color: #999;
  float: left;
}

.lstr-qswitcher-breadcrumb li
{
  float: left;
  margin: 10px 10px 5px 10px;
  padding: 0;
}

.lstr-qswitcher-breadcrumb li+li:before
{
  content: ">";
  display: block;
  float: left;
  margin: 0 5px;
}


.lstr-qswitcher-loading
{
  display: none;
  margin: 0 10px 10px 10px;
}


.lstr-qswitcher-results, .lstr-qswitcher-no-terms, .lstr-qswitcher-no-results
{
  width: 480px;
  margin: 0 10px 10px 10px;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lstr-qswitcher-no-terms, .lstr-qswitcher-no-results
{
  display: none;
}

.lstr-qswitcher-results ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lstr-qswitcher-results li
{
  padding: 7px 9px 7px 9px;
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}

.lstr-qswitcher-results a
{
  display: block;
  width: 100%;
}

li.lstr-qswitcher-result-selected
{
  background-color: #3274ce;
  color: #ffffff;
  border-radius: 3px;
}

.lstr-qswitcher-results li .lstr-qswitcher-results-subtext {
  font-size: .9em;
  margin-left: 10px;
  float: right;
  color: #999;
}
