body.lstr-qswitcher-noscroll
{
  overflow: hidden;
}


body.lstr-qswitcher-noscroll .lstr-qswitcher-overlay,
body.lstr-qswitcher-noscroll .lstr-qswitcher-container {
  z-index: 9999;
  display: block;
}

.lstr-qswitcher-overlay
{
  display: none;
  background-color: rgba(204, 204, 204, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 499px) {
  .lstr-qswitcher-container
  {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .lstr-qswitcher-search-container
  {
    padding: 0 10px 10px 10px;
  }

  .lstr-qswitcher-breadcrumb li
  {
    margin: 12px;
  }

  input.lstr-qswitcher-search
  {
    width: 100%;
    border-color: #666666;
    font-size: 2.5em;
    line-height: 1.2em;
    height: auto;
  }

  .lstr-qswitcher-help
  {
    display: none;
    margin: 10px 10px 0 0;
  }


  .lstr-qswitcher-results,
  .lstr-qswitcher-no-terms,
  .lstr-qswitcher-no-results,
  .lstr-qswitcher-oops-results
  {
    margin: 0 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
  }

  .lstr-qswitcher-no-terms,
  .lstr-qswitcher-no-results,
  .lstr-qswitcher-oops-results,
  .lstr-qswitcher-results li
  {
    padding: 12px 9px 12px 9px;
  }

  .lstr-qswitcher-popup
  {
    background-color: #ffffff;
    height: 100%;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .lstr-qswitcher-close,
  .lstr-qswitcher-close:focus,
  .lstr-qswitcher-close:hover
  {
    color: #666666;
    display: inline-block;
    font-size: 1.6em;
    line-height: 0.5em;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 5px;
    float: right;
    text-align: right;
    text-decoration: none;
  }
}

@media (min-width: 500px)  {
  .lstr-qswitcher-container
  {
    display: none;
    position: fixed;
    top: 50%;
    width: 500px;
    margin: -212px 0 0 -250px;
    left: 50%;
    font-size: .9em;
  }

  .lstr-qswitcher-search-container
  {
    padding: 0 10px 10px 10px;
  }

  .lstr-qswitcher-breadcrumb li
  {
    margin: 10px 10px 5px 10px;
  }

  input.lstr-qswitcher-search
  {
    width: 100%;
    border-color: #666666;
    padding: 7px;
    margin: 0;
    font-size: 2.5em;
    line-height: 1.2em;
    height: auto;
  }

  .lstr-qswitcher-help
  {
    margin: 10px 0 0 0;
  }


  .lstr-qswitcher-results,
  .lstr-qswitcher-no-terms,
  .lstr-qswitcher-no-results,
  .lstr-qswitcher-oops-results
  {
    width: 480px;
    margin: 0 10px 10px 10px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
  }

  .lstr-qswitcher-results li
  {
    padding: 7px 9px 7px 9px;
  }

  .lstr-qswitcher-popup
  {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border: #ffffff 1px solid;
    display: flex;
    flex-direction: column;
  }

  .lstr-qswitcher-close
  {
    display: none;
  }
}

@media (max-height: 426px) {
  .lstr-qswitcher-container {
    height: 100%;
    top: 0;
    margin-top: 0;
  }

  .lstr-qswitcher-popup {
    height: 100%;
  }
}

.lstr-qswitcher-container *
{
  box-sizing: border-box;
}

.lstr-qswitcher-help ul:after
{
  content: "";
  display: table;
  clear: both;
}

.lstr-qswitcher-help ul
{
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: .9em;
  float: right;
}

.lstr-qswitcher-help li
{
  margin: 0 10px 5px 5px;
  padding: 0;
  float: left;
}

.lstr-qswitcher-help em
{
  font-style: normal;
  font-weight: bold;
  margin: 0 3px 0 0;
}


.lstr-qswitcher-breadcrumb ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .9em;
  color: #999;
  float: left;
}

.lstr-qswitcher-breadcrumb li
{
  float: left;
  padding: 0;
}

.lstr-qswitcher-breadcrumb li+li:before
{
  content: ">";
  display: block;
  float: left;
  margin: 0 5px;
}


.lstr-qswitcher-loading
{
  display: none;
  margin: 0 10px 10px 10px;
}

.lstr-qswitcher-no-terms, .lstr-qswitcher-no-results
{
  display: none;
}

.lstr-qswitcher-results ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lstr-qswitcher-results li
{
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}

.lstr-qswitcher-results a
{
  display: block;
  width: 100%;
}

li.lstr-qswitcher-result-selected
{
  background-color: #3274ce;
  color: #ffffff;
  border-radius: 3px;
}

li .lstr-qswitcher-result-description {
  font-size: .9em;
  margin-left: 10px;
  float: right;
  color: #999;
}

li.lstr-qswitcher-result-selected .lstr-qswitcher-result-description {
  color: #ffffff;
}
